<div class="show">
  <p class="username"><%= @comment.user.email %> <%= time_ago_in_words(@comment.created_at) %> ago</p>
  <p><%= @comment.body %></p>
  <%= form_for [@comment, @new_comment] do |f| %>
    <p>
      <%= f.text_field :body, required: true %>
    </p>
    <%= f.hidden_field :commentable_type, :value => 'Comment' %>
    <%= f.hidden_field :commentable_id, :value => @comment.id %>
    <%= f.hidden_field :parent_post_id, :value => @comment.parent_post_id %>
    <p>
      <%= f.submit %>
    </p><br>
  <% end %>
</div>
