<p class="username"><%= com.user.email %> <%= time_ago_in_words(com.created_at) %> ago</p>
<p><%= com.body %></p>
<%= link_to("reply", comment_path(com)) %>
<div class="compartial">
  <%= render partial: "comment", collection: com.comments, as: :com %>
</div>

