<div class="show">
  <span><%= link_to(@post.title, @post.link) %></span>
  <span class="linkprev">(<%= @post.link %>)</span><br>
  <span class="subtitle"><%= link_to("comments", post_path(@post)) %></span>
  <br><br>
  <%= form_for [@post, @comment] do |f| %>
    <p>
      <%= f.text_field :body, required: true %>
    </p>
    <%= f.hidden_field :commentable_type, :value => 'Post' %>
    <%= f.hidden_field :commentable_id, :value => @post.id %>
    <%= f.hidden_field :parent_post_id, :value => @post.id %>
    <p>
      <%= f.submit %>
    </p><br>
  <% end %>

  <div class="commentsection">
    <%= render partial: "posts/comment", collection: @comments, as: :com %>
  </div>
</div>
