<div class="show">
  <span><%= link_to(@post.title, @post.link) %></span>
  <span class="linkprev">(<%= @post.link %>)</span><br>
  <span class="subtitle"><%= link_to("comments", post_path(@post)) %></span>
  <br><br>
  <%= form_for [@post, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |msg| %>
        <div class="alert"><%= msg %></div>
      <% end %>
    <% end %>
    <p>
      <%= f.text_field :body %>
    </p>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <p>
      <%= f.submit %>
    </p><br>
  <% end %>

  <div class="commentsection">
    <%= render partial: "comment", collection: @comments, as: :com %>
  </div>
</div>
