<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="topnav">
      <%= link_to image_tag("hacker-logo.png", {action: "index", controller: "posts", size: "22x22", alt: "HackerNews"})%>
      <span class="bold"><%= link_to('Hacker News', posts_url) %></span> |
      <%= link_to('New', posts_url) %> |
      <%= link_to('Submit Post', new_post_url) %>
      <span class="accounts">
        <p>
          <% if user_signed_in? %>
            <%= link_to(current_user.email, user_posts_path(current_user)) %>
            <% karma = 0 %>
            <% current_user.posts.each do |p| %>
              <% karma += p.votes.sum('vote_type') %>
            <% end %>
            <% current_user.comments.each do |c| %>
              <% karma += c.votes.sum('vote_type') %>
            <% end %>
            (<%= karma %>)
            |
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
            <%= link_to('Log In', new_user_session_path) %> |
            <%= link_to('Create Account', new_user_registration_path) %>
          <% end %>
        </p>
      </span>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>


    <%= yield %>
  </body>
</html>
